body {
	background-color: transparent;
}

.sticky-div {
	background-color: #252532;
	position: sticky;
	top: 0px;
	padding: 5px 0px;
	text-align: center;
	border-radius: 15px;
	width: 30%;
	float: right;
}

.data-list {
	font-family: Consolas;
	list-style: none;
	padding: 0;
}

.color-entry {
	width: 100%;
	display: flex;
	margin-bottom: 0.4em;
	border: 1px solid var(--vscode-input-border);
}

.color-preview {
	width: 2em;
	height: 2em;
}

.sticky-bottom {
	position: fixed;
	width: 50%;
	bottom: 10px;
	border: 3px solid #8AC007;
}

form {
	display: flex;
}

form > input[type="text"] {
	flex: 0 0 90%;
	margin-right: 5px;
}


.color-preview:hover {
	outline: inset white;
}

.debug-log {
	color: 	#BF40BF;
}

.debug-warning {
	color: orange;
}

.debug-error {
	color: red;
}

.debug-info {
	color: green;
}

.log-message-time {
	color: gray;
}

.color-input {
	display: block;
	flex: 1;
	width: 100%;
	color: var(--vscode-input-foreground);
	border: none;
	padding: 0 1em;
}

.clear-log-button {
	display: block;
	border: none;
	margin: 0 auto;
}
